/vendor/

/uploads/
.vscode/
.idea/
*.log

.env
.env.local

.DS_Store
Thumbs.db

client/build/
client/dist/

node_modules/

laravel/vendor/
laravel/.env
laravel/apns_key.p8
laravel/storage/logs/
laravel/storage/framework/cache/
laravel/storage/framework/sessions/
laravel/storage/framework/views/frontend/public/*.mp4
