services:
  postgres:
    image: postgres:15
    container_name: laughtube_postgres
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    container_name: laughtube_backend
    build:
      context: .
      dockerfile: backend/Dockerfile
    restart: always
    env_file:
      - .env
    depends_on:
      - postgres
    volumes:
      - ./backend:/var/www/html
    expose:
      - "9000"

  frontend:
    container_name: laughtube_frontend
    build:
      context: .
      dockerfile: frontend/Dockerfile
    restart: always
    ports:
      - "5173:80"
    depends_on:
      - backend

  nginx:
    image: nginx:alpine
    container_name: laughtube_nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./frontend/dist:/var/www/frontend
    depends_on:
      - backend
      - frontend

volumes:
  postgres_data:
